body{
    background-color: #00FFFF ;
}
blockquote {
    padding: 3%;
    background:rgba(235, 221, 221, 0.705);
    border: 0ch;
    animation-duration: 10s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.photos1{
    display: flex;
     justify-content: space-around;
     
     }
.Plage{
    
    text-align: center;
}

    
.Plage{
    
    text-align: center;
}
.liste {
    text-align: center;
}
.pres{
    text-align: center;
}