/*couleur arrière plan*/
body{
    background-color: #0c77be ;
  }
/*Alignement photos*/  
.photos1{
    display: flex;
    justify-content: space-around;
     }
/*Blocks*/
blockquote {
    padding: 3%;
    background: linear-gradient(#2a88be,#00FFFF);
    border: 0ch;
        }
/*Liste parcs */
.liste{
    display: flex;
    flex-direction: column;
    }
/*première description parcs*/ 
.yolo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
  }

/*deuxième  description parcs*/ 
.yolo2{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/*deuxième liste parcs*/ 
.liste2{
    display: flex;
    flex-direction: column;
  }
.yolo3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.liste3{
    display: flex;
    flex-direction: column;
  }


