/*Mise en page*/
    .up-contain{
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.5) 3px 3px;
        
    }
    .head{
        align-items: center;
        
    }
    .contain{
        display: flex;
        width: 70%;
        flex-direction: column;
        text-align: center;
    }
    .sub-contain li{
        list-style: none;
       
    }
    p, .contain li {
    
        font-size: 1.10em
    }
    p, .contain li:nth-child(even) {
    margin: 0 40%;
    }
    .head{
        text-align: center;
    }

p:nth-child(odd), .contain li:nth-child(odd) {
    margin: 0 20%;

}


/*Couleurs*/

    .up-contain:nth-child(even){
            color: black;
            background-color:#235789;
    }
    .up-contain:nth-child(odd){
        background-color: #FFF;
        color: black;
    }
    .lcolor{
        color: #FF0000
    }

/*Animations*/
    #defil {
        position: relative;
        width: 300px;
        height: 200px;
        margin:  20px auto;
        overflow: hidden;
    }
    #image li {
        display: inline;
    }
    #image {
        position: absolute;
        top: 0;
        left: 0;
        width: 930px;
        margin: 0;            
        padding: 0;
        animation-name: diapo;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    @keyframes diapo {
        0% {
            left: 0px;
        }
        15% {
            left: 0px;
        }
        35% {
            left: -304px; 
        }
        50% {
            left: -304px; 
        }
        70% {
            left: -608px;
        }
        85% {
            left: -608px; 
        }
        100% {
            left: 0px; 
        }
    }
        
    .taille{
        width: 300px;
        height: 200px;
    }